$brygada: 'Brygada 1918', serif;
$spartan: 'Spartan', sans-serif;
$font_quicksand: "Quicksand", sans-serif;
$font_comic:"Comic Sans MS", sans-serif;
$font_monotypec:"Monotype Corsiva", sans-serif;
$font_h1size: 24px;
$bg_pink:rgb(247, 171, 184);
$bg_comp_pink: rgb(108, 202, 165);
  //background-color: rgb(46, 97, 6);